# Let `sudo` be aliased, supporting chained aliases. eg. `sudo l .`
# https://www.gnu.org/software/bash/manual/bashref.html#Aliases
alias sudo='sudo '

# Shortest shortcuts of them all!
alias c='clear'
alias g='git'
alias v='mvim --remote 2>/dev/null'
alias s='subl'
alias n='nvim'
alias b='brew'
alias o='open'

# Pretty file sizes.
alias du='du -h'
alias df='df -h'

# ls shortcuts.
alias l='ls -Fhl'              # Files and directories in long format.
alias la='ls -AFhl'            # Files and directories in long format, including dotfiles.
alias lf='l | grep -v "^d"'    # Only files.
alias lfa='la | grep -v "^d"'  # Only files, including dotfiles.
alias ld='l | grep "^d"'       # Only directories.
alias lda='la | grep "^d"'     # Only directories, including dotdirectories.

# git shortcuts.
alias gstall='git status -uall'

# Avoid permission errors.
alias brew='sudo brew'
alias gem='sudo gem'
alias pip='sudo -H pip'

# Print top 10 used commands from $history.
alias common_commands='print -l -- ${(o)history%% *} | uniq -c | sort -nr | head -n 10'

# Obligatory https://xkcd.com/149/
alias please='sudo'

# Bye bye :)
alias nuke='sudo rm -rf'

# Disable history logging for the current shell.
alias incognito='unset HISTFILE'

# Regenerate zsh completions.
alias zcompreload='rm -f ~/.zcompdump*; compinit'

# Edit ~/.zshrc and ~/.vimrc with the default visual editor.
alias zshrc="$VISUAL $HOME/.zshrc"
alias vimrc="$VISUAL $HOME/.vimrc"

# Easier navigation to move up directories.
alias ..='cd ..'
alias ..2='cd ../..'
alias ..3='cd ../../..'
alias ..3='cd ../../../..'

# List user-installed npm packages
alias npm-ls='npm list -g --depth=0'

# Always run vagrant as sudo, to bind to restricted ports (80, 443, etc).
alias vagrant='sudo -E vagrant'
alias vhalt='vagrant halt'
alias vreload='vagrant reload'
alias vssh='vagrant ssh'
alias vup='vagrant up'

# Run ranger, `cd` into last working directory after exiting.
alias rcd='rangercd'

# Flush Directory Service cache.
alias flushdns='dscacheutil -flushcache && killall -HUP mDNSResponder'

# Reset QuickLook.
alias quicklook-reset='qlmanage -r'

# Run repair permissions in Disk Utility.
[[ "$(uname)" == 'Darwin' ]] && alias repairpermissions='sudo diskutil repairPermissions /'

# OS X has no `md5sum`, so use `md5` as a fallback.
command -v md5sum > /dev/null || alias md5sum='md5'

# OS X has no `sha1sum`, so use `shasum` as a fallback.
command -v sha1sum > /dev/null || alias sha1sum='shasum'

# URL-encode strings.
alias urlencode="python -c 'import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);'"

# Lock the screen.
[[ "$(uname)" == "Darwin" ]] && \
  alias afk='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'

# Watch logs with lnav.
MAMP_LOG_PATH='/Applications/MAMP/logs'
type lnav &>/dev/null && \
  alias phpwatch="lnav $MAMP_LOG_PATH/php_error.log"
  alias mysqlwatch="lnav $MAMP_LOG_PATH/mysql_error_log.err"
  alias apachewatch="lnav $MAMP_LOG_PATH/apache_error.log"
