# vim: filetype=sh
# Note that /etc/paths will override $PATH after this file is executed.

if [ -x /opt/homebrew/bin/brew ] ; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
elif [ -x /usr/local/bin/brew ] ; then
  eval "$(/usr/local/bin/brew shellenv)"
fi

##
# Base - required when `login` isn't used.
##

export PATH="/opt/X11/bin:$PATH"
export PATH="/sbin:$PATH"
export PATH="$HOMEBREW_PREFIX/bin:$PATH"

##
#  Global variables - $PATH, $MANPATH, $EDITOR, $VISUAL, etc.
##

export BACKUP_DIR="$HOME/Google Drive/Backup"

# Preferred editor for local and remote sessions.
export EDITOR='vim'
export VISUAL='vim'
if [ $(command -v nvim) ] ; then
  export EDITOR='nvim'
  export VISUAL='nvim'
fi

if [[ $(command -v bat) ]] ; then
  export MANPAGER='sh -c "col -bx | bat --language man --plain"'
  export PAGER='bat --paging=always'
fi

# Cross filesystem boundaries if the current directory isn't a Git repo.
export GIT_DISCOVERY_ACROSS_FILESYSTEM=1

# Homebrew no-GA.
export HOMEBREW_NO_ANALYTICS=1

# Neovide.
export NEOVIDE_FRAME='buttonless'
export NEOVIDE_MULTIGRID='true'

# Homebrew paths.
if hash brew 2>/dev/null ; then
  # Homebrew Cask path preferences.
  HOMEBREW_CASK_OPTIONS=(
    --fontdir=/Library/Fonts
    --colorpickerdir=/Library/ColorPickers
    --prefpanedir=/Library/PreferencePanes
    --qlplugindir=/Library/QuickLook
    --dictionarydir=/Library/Dictionaries
    --fontdir=/Library/Fonts
    --servicedir=/Library/Services
    --no-quarantine
  )
  export HOMEBREW_CASK_OPTS="$(IFS=' '; echo ${HOMEBREW_CASK_OPTIONS[@]})"

  # Homebrew GNU coreutils, sed & tar.
  gnu_homebrew_packages=(gnu-sed gnu-tar grep findutils gawk gnu-sed)
  for gnu_homebrew_package in "${gnu_homebrew_packages[@]}" ; do
    export PATH="$HOMEBREW_PREFIX/opt/$gnu_homebrew_package/libexec/gnubin:$PATH"
    export MANPATH="$HOMEBREW_PREFIX/opt/$gnu_homebrew_package/share/man:$MANMANPATH"
  done

  # Curl.
  export PATH="$(brew --prefix curl)/bin:$PATH"

  # Node.js
  export NODE_PATH='/usr/local/lib/node_modules'
  export NODE_PATH="/usr/local/share/npm/lib/node_modules:$NODE_PATH"
  export PATH="/usr/local/share/npm/bin:$PATH"

  # Ruby.
  export PATH="$(brew --prefix ruby)/bin:$PATH"

  # Java.
  export PATH="$(brew --prefix openjdk)/bin:$PATH"
  export JAVA_HOME="$(brew --prefix openjdk@17)/libexec/openjdk.jdk/Contents/Home"
fi

# Android emulator / SDK.
export ANDROID_HOME='/usr/local/opt/android-sdk'

# User ~/bin directories.
export PATH="$HOME/bin:$PATH"

# Composer.
export PATH="$HOME/.composer/vendor/bin:$PATH"

# Git bins.
export PATH="$(brew --prefix git)/share/git-core/contrib/diff-highlight/diff-highlight:$PATH"

# Docker.
export PATH="$HOME/.docker/bin:$PATH"

# Golang.
if hash go 2>/dev/null ; then
  export GOROOT="$(brew --prefix go)/libexec"

  export GOPATH="$HOME/go"
  export PATH="$GOPATH/bin:$PATH"
  if [ ! -d "$GOPATH" ] ; then
    echo "=> Creating '$GOPATH': $GOPATH"
    mkdir "$GOPATH"
  fi
fi

# fzf - https://github.com/junegunn/fzf
# --inline-info: Display the result number besides the query.
export FZF_DEFAULT_OPTS="--inline-info --no-height --preview '(highlight -O ansi -l {} 2> /dev/null || cat {} || tree -C {}) 2> /dev/null | head -200'"
# Use `ag` as the default source for `fzf`.
if hash ag 2>/dev/null ; then
  export FZF_DEFAULT_COMMAND='ag -g ""'
fi
export FZF_ALT_C_OPTS="--select-1 --exit-0 --preview '(highlight -O ansi -l {} 2> /dev/null || cat {} || tree -C {}) 2> /dev/null | head -200'"

# Surpress Wine debugging info.
export WINEDEBUG=
export WINEPREFIX="$HOME/.wine"

export FUNCTIONS_CORE_TOOLS_TELEMETRY_OPTOUT='1'

# z - https://github.com/rupa/z
export _Z_NO_RESOLVE_SYMLINKS=1

# Python 3.
export PATH="/usr/local/opt/python@3/bin:$PATH"
# export PATH="./.venv/bin:$PATH"

# Cargo packages.

# NVM.
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"

# Anaconda.
export PATH="$HOMEBREW_PREFIX/anaconda3/bin:$PATH"

# icu4c
export PATH="$HOMEBREW_PREFIX/opt/icu4c/bin:$PATH"
export PATH="$HOMEBREW_PREFIX/opt/icu4c/sbin:$PATH"

# Bun.
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"

# Orb.
export PATH="/Applications/OrbStack.app/Contents/MacOS/xbin:$PATH"
export PATH="/Applications/OrbStack.app/Contents/MacOS/bin:$PATH"

# Visual Studio Code.
export PATH="/Applications/Visual Studio Code.app/Contents/Resources/app/bin:$PATH"

# Dotnet.
export PATH="/Users/jackson/.dotnet/tools:$PATH"

# Local paths.
export PATH="./vendor/bin:$PATH"
export PATH="./node_modules/.bin:$PATH"
export PATH="bin:$PATH"

# Added by OrbStack: command-line tools and integration
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
. "$HOME/.cargo/env"
