[user]
  name = Jackson Cooper
  email = jackson@jacksonc.com
  signingkey = A44F9DEE

[alias]
  d  = diff
  dc = diff --cached
  ds = diff --stat
  g  = grep
  ls = ls-files
  rt = remote
  ss = stash
  st = status
  stash-all = stash save --include-untracked
  undo = reset --soft HEAD^

[branch]
  ; Auto track remote branches on local branch creation.
  autoSetupMerge = always

[color]
  ui = auto

[commit]
  gpgsign = true

[core]
  excludesfile = ~/.gitignore
  editor = nvim
  ; fsync() when writing object files. Only useful for file systems
  ; that do not use journaling, or don't journal the file contents.
  fsyncObjectFiles = true
  ; Enable additional caching of file system data for some operations.
  ; Git for Windows uses this to bulk-read and cache lstat data of
  ; entire directories (instead of doing lstat file by file).
  fscache = true
  ; Don't ignore case changes.
  ignorecase = false

[credential]
  ; Cache authentication credentials in OS X's keychain.
  helper = osxkeychain

[diff]
  tool = Kaleidoscope
  ; Enable basic rename and copy detection.
  renames = copies

[difftool]
  ; Don't prompt before each invocation of the diff tool.
  prompt = false

[difftool "Kaleidoscope"]
  cmd = /usr/local/bin/ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
  trustExitCode = true

[difftool "sourcetree"]
  cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
  path =

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[github]
  user = jacks0n

[gpg]
  program = /usr/local/bin/gpg

[help]
  ; Automatically correct and execute mistyped commands.
  autoCorrect = 1

[log]
  date = relative

[merge]
  tool = Kaleidoscope

[mergetool]
  ; Don't prompt before each invocation of the merge resolution program.
  prompt = false
  ; After performing a merge, don't save the original file
  ; with conflict markers as a file with a .orig extension.
  keepBackup = false

[mergetool "Kaleidoscope"]
  cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[mergetool "sourcetree"]
  cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true

[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX

[push]
  default = current

[rerere]
  enabled = true

[tag]
  gpgsign = true
