" https://github.com/benwainwright/fzf-project
let g:fzfSwitchProjectWorkspaces = ['~/Code']

" https://github.com/heavenshell/vim-jsdoc
let g:jsdoc_lehre_path = trim(system('brew --prefix')) . '/bin/lehre'

let $NVIM_PYTHON_LOG_FILE = $HOME . '/Desktop/nvim-python.log'
let $PATH = trim(system('brew --prefix')) . '/bin:' . $PATH

" Set `colorscheme` and `guifont` only on startup.
if has('vim_starting')
  if has('nvim')
    colorscheme tokyonight
  else
    colorscheme gruvbox
  endif
  set background=dark
  if has('gui')
    set guifont=FantasqueSansMono\ Nerd\ Font:h16
  endif
endif

" Neovim Python 3 binary path.
if has('nvim')
  let g:python3_host_prog = trim(system('brew --prefix')) . '/bin/python3'
endif
